#doc3
  :margin auto
    
.content
  :margin auto
  :width 950px
  :text-align left

#hd
  :border-top 3px solid #009ABF

  h1
    :margin 0
    :padding 0
    :font-size 153.9%

    a
      :display block
      :padding-top 10px
      :padding-bottom 10px
      :text-decoration none
      :color #000000
      
#menu
  :background-color #98CAD5
  :overflow auto
  :overflow -moz-scrollbars-none
  // This makes ie6 get layout
  :display inline-block
  // and this puts it back to block
  &
    :display block
    
  ul
    li
      :display inline
      
      a, span
        :float left
        :padding 5px
        :padding-left 10px
        :padding-right 10px
        :font-size 93%

      a
        :text-decoration none
        :text-transform uppercase
        :color #FFFFFF
        :font-weight bold
        
      span
        :color #F4F2E9

  #main-menu, #user-menu
    ul
      :position relative

  #main-menu
    ul
      :left -10px

  #user-menu
    :float right
  
    ul
      :left 10px

#bd
  :background-color #F4F2E9
  :padding-top 20px
  :padding-bottom 20px

  a
    :color #009ABF

  h1
    :font-size 130%
    :font-weight bold
    :padding-bottom 15px

  h2
    :font-weight bold
    :padding-bottom 1em
    
  #messages
    :padding-bottom 0.5em
    
    span
      :display block
      :padding 5px
      :margin-bottom 0.5em
      
      &.notice
        :background-color #A2D18F
        :border-width 1px
        :border-style solid
        :border-color = #A2D18F - 30

  .item-short
    :margin-bottom 1em
    :clear both
    
    .image
      :float left
      :width 60px
      :margin-right 10px
      :text-align right
      :margin-bottom 1em
      
      img
        :vertical-align bottom
    
    .stars
      :float right
      
      .count
        :display inline
        :color #666666

    .title
      :font-weight bold
      
      a
        :color #000000
        :text-decoration none

    .authors
      :margin-left 70px

  .item
    .meta
      :overflow auto
      :overflow -moz-scrollbars-none
      // This makes ie6 get layout
      :display inline-block
      // and this puts it back to block
      &
        :display block
    
      .image
        :float left
        :margin-right 1em
      
        img
          :vertical-align bottom

      .details
        :margin-top 1em
        :overflow auto
        :overflow -moz-scrollbars-none
        // This makes ie6 get layout
        :display inline-block
        // and this puts it back to block
        &
          :display block
    
        label
          :font-weight bold
        
        .added_date, .detail_link
          :margin-top 1em

    .description
      :border-top 1px dotted #999999
      :border-bottom 1px dotted #999999
      :margin-top 1em
      :padding-top 1em
      :padding-bottom 1em
      
      p
        :margin-top 1em
        
      li
        :list-style disc
        :margin-left 2em

    #reviews
      :margin-top 1em

      h3
        :font-weight bold
        :margin-bottom 1em

      .review
        :margin-bottom 1em
        
        .score
          :float right

        .user, .age
          :display inline
          :color #666666

  form
    .field
      :margin-bottom 1em
    
      label
        :display block
        :font-weight bold
        
      textarea
        :width 695px
        :height 10em
        
      input.text
        :width 30em
        
      input.small
        :width 4em

      input.medium
        :width 9em

    .inline
      :zoom 1
      :display inline
      :display -moz-inline-box
      :display inline-block
      :vertical-align top

      .field
        :float left
        :margin-right 10px

#ft
  :padding 20px
  :font-size 85%
  :color #5F5F5F
  
body.anonymous
  #menu
    :border-top 3px solid #98CAD5

    ul
      :display none
      
@import lightbox