.clear {
  clear: both; }
  .clear hr {
    display: none; }

#hd {
  border-top: 3px solid #009ABF; }
  #hd h1 {
    margin: 0;
    padding: 0;
    font-size: 153.9%; }
    #hd h1 a {
      display: block;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      color: #000000; }
  #hd #menu {
    background-color: #98CAD5;
    padding-left: 10px; }
    #hd #menu ul li {
      display: inline; }
      #hd #menu ul li a {
        float: left;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 93%; }

#bd {
  padding: 20px; }
  #bd h1 {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 15px; }
  #bd h2 {
    font-weight: bold; }
  #bd .book {
    margin-bottom: 1em; }
    #bd .book .title {
      font-weight: bold; }
      #bd .book .title a {
        color: #000000;
        text-decoration: none; }
    #bd .book .authors .author {
      display: inline; }
      #bd .book .authors .author a {
        color: #000000;
        text-decoration: none; }
    #bd .book #reviews {
      margin-top: 1em; }
      #bd .book #reviews .review {
        margin-bottom: 1em; }
        #bd .book #reviews .review .user, #bd .book #reviews .review .age {
          display: inline;
          color: #999999;
          font-size: 85%; }
  #bd form .field {
    margin-bottom: 1em; }
    #bd form .field label {
      display: block;
      font-weight: bold; }
    #bd form .field textarea {
      width: 30em;
      height: 7em; }
    #bd form .field input.text {
      width: 30em; }
    #bd form .field input.small {
      width: 4em; }
    #bd form .field input.medium {
      width: 9em; }

#ft {
  padding: 20px;
  padding-top: 0;
  font-size: 85%;
  color: #5F5F5F; }

body.anonymous #menu {
  border-top: 3px solid #98CAD5; }
  body.anonymous #menu ul {
    display: none; }
