.clear {
  clear: both; }
  .clear hr {
    display: none; }

#hd {
  border-top: 3px solid #009ABF; }
  #hd h1 {
    margin: 0;
    padding: 0;
    font-size: 153.9%; }
    #hd h1 a {
      display: block;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      color: #000000; }
  #hd #menu {
    background-color: #98CAD5;
    padding-left: 10px; }
    #hd #menu ul li {
      display: inline; }
      #hd #menu ul li a {
        float: left;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 93%; }

#bd {
  padding: 20px; }
  #bd h1 {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 15px; }
  #bd h2 {
    font-weight: bold;
    padding-bottom: 1em; }
  #bd .item-short {
    margin-bottom: 1em;
    clear: both; }
    #bd .item-short .image {
      float: left;
      width: 60px;
      margin-right: 10px;
      text-align: right;
      margin-bottom: 1em; }
      #bd .item-short .image img {
        vertical-align: bottom; }
    #bd .item-short .stars {
      float: right; }
      #bd .item-short .stars .count {
        display: inline;
        color: #666666; }
    #bd .item-short .title {
      font-weight: bold; }
      #bd .item-short .title a {
        color: #000000;
        text-decoration: none; }
    #bd .item-short .authors {
      margin-left: 70px; }
      #bd .item-short .authors a.author {
        color: #000000;
        text-decoration: none; }
  #bd .item .image {
    float: left;
    margin-right: 1em; }
    #bd .item .image img {
      vertical-align: bottom; }
  #bd .item .details {
    margin-top: 1em; }
    #bd .item .details label {
      font-weight: bold; }
    #bd .item .details .detail_link {
      margin-top: 1em; }
  #bd .item .description {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em; }
    #bd .item .description p {
      margin-top: 1em; }
    #bd .item .description li {
      list-style: disc;
      margin-left: 2em; }
  #bd .item #reviews {
    margin-top: 1em; }
    #bd .item #reviews h3 {
      font-weight: bold;
      margin-bottom: 1em; }
    #bd .item #reviews .review {
      margin-bottom: 1em; }
      #bd .item #reviews .review .score {
        float: right; }
      #bd .item #reviews .review .user, #bd .item #reviews .review .age {
        display: inline;
        color: #666666; }
  #bd form .field {
    margin-bottom: 1em; }
    #bd form .field label {
      display: block;
      font-weight: bold; }
    #bd form .field textarea {
      width: 30em;
      height: 7em; }
    #bd form .field input.text {
      width: 30em; }
    #bd form .field input.small {
      width: 4em; }
    #bd form .field input.medium {
      width: 9em; }

#ft {
  padding: 20px;
  padding-top: 0;
  font-size: 85%;
  color: #5F5F5F; }

body.anonymous #menu {
  border-top: 3px solid #98CAD5; }
  body.anonymous #menu ul {
    display: none; }
