#doc3 {
  margin: auto; }

.clear {
  clear: both; }
  .clear hr {
    display: none; }

.content {
  margin: auto;
  width: 950px;
  text-align: left; }

#hd {
  border-top: 3px solid #009ABF; }
  #hd h1 {
    margin: 0;
    padding: 0;
    font-size: 153.9%; }
    #hd h1 a {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      color: #000000; }

#menu {
  background-color: #98CAD5; }
  #menu ul li {
    display: inline; }
    #menu ul li a, #menu ul li span {
      float: left;
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 93%; }
    #menu ul li a {
      text-decoration: none;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold; }
    #menu ul li span {
      color: #F4F2E9; }
  #menu #main-menu ul,   #menu #user-menu ul {
    position: relative; }
  #menu #main-menu ul {
    left: -10px; }
  #menu #user-menu {
    float: right; }
    #menu #user-menu ul {
      left: 10px; }

#bd {
  background-color: #F4F2E9;
  padding-top: 20px;
  padding-bottom: 20px; }
  #bd a {
    color: #009ABF; }
  #bd h1 {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 15px; }
  #bd h2 {
    font-weight: bold;
    padding-bottom: 1em; }
  #bd #messages {
    padding-bottom: 0.5em; }
    #bd #messages span {
      display: block;
      padding: 5px;
      margin-bottom: 0.5em; }
      #bd #messages span.notice {
        background-color: #A2D18F;
        border-width: 1px;
        border-style: solid;
        border-color: #84b371; }
  #bd .item-short {
    margin-bottom: 1em;
    clear: both; }
    #bd .item-short .image {
      float: left;
      width: 60px;
      margin-right: 10px;
      text-align: right;
      margin-bottom: 1em; }
      #bd .item-short .image img {
        vertical-align: bottom; }
    #bd .item-short .stars {
      float: right; }
      #bd .item-short .stars .count {
        display: inline;
        color: #666666; }
    #bd .item-short .title {
      font-weight: bold; }
      #bd .item-short .title a {
        color: #000000;
        text-decoration: none; }
    #bd .item-short .authors {
      margin-left: 70px; }
  #bd .item .image {
    float: left;
    margin-right: 1em; }
    #bd .item .image img {
      vertical-align: bottom; }
  #bd .item .details {
    margin-top: 1em; }
    #bd .item .details label {
      font-weight: bold; }
    #bd .item .details .added_date, #bd .item .details .detail_link {
      margin-top: 1em; }
  #bd .item .description {
    border-top: 1px dotted #999999;
    border-bottom: 1px dotted #999999;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em; }
    #bd .item .description p {
      margin-top: 1em; }
    #bd .item .description li {
      list-style: disc;
      margin-left: 2em; }
  #bd .item #reviews {
    margin-top: 1em; }
    #bd .item #reviews h3 {
      font-weight: bold;
      margin-bottom: 1em; }
    #bd .item #reviews .review {
      margin-bottom: 1em; }
      #bd .item #reviews .review .score {
        float: right; }
      #bd .item #reviews .review .user, #bd .item #reviews .review .age {
        display: inline;
        color: #666666; }
  #bd form .field {
    margin-bottom: 1em; }
    #bd form .field label {
      display: block;
      font-weight: bold; }
    #bd form .field textarea {
      width: 30em;
      height: 7em; }
    #bd form .field input.text {
      width: 30em; }
    #bd form .field input.small {
      width: 4em; }
    #bd form .field input.medium {
      width: 9em; }

#ft {
  padding: 20px;
  font-size: 85%;
  color: #5F5F5F; }

body.anonymous #menu {
  border-top: 3px solid #98CAD5; }
  body.anonymous #menu ul {
    display: none; }

#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px; }

#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0; }
  #jquery-lightbox a img {
    border: none; }

#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

#lightbox-container-image {
  padding: 10px; }

#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0; }

#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

#lightbox-container-image-box > #lightbox-nav {
  left: 0; }

#lightbox-nav a {
  outline: none; }

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block; }

#lightbox-nav-btnPrev {
  left: 0;
  float: left; }

#lightbox-nav-btnNext {
  right: 0;
  float: right; }

#lightbox-container-image-data-box {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0; }

#lightbox-container-image-data {
  padding: 0 10px;
  color: #666; }
  #lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left; }

#lightbox-image-details-caption {
  font-weight: bold; }

#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1.0em; }

#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em; }
