- title @author.name

%h2
  Items by
  = @author.name

- @author.items.each do |item|
  = partial 'items/item', :item => item

- throw_content :sidebar do
  = link_to 'Edit', url(:edit_author, @author)