- title @author.name

%h2
  Books by
  = @author.name

- @author.books.each do |book|
  = partial 'books/book', :book => book

- throw_content :sidebar do
  = link_to 'Edit', url(:edit_author, @author)