- title @publisher.name

%h2
  Items published by
  = @publisher.name

- @publisher.items.each do |item|
  = partial 'items/item', :item => item
  
- throw_content :sidebar do
  = link_to 'Edit', url(:edit_publisher, @publisher)