- title @publisher.name

%h2
  Books published by
  = @publisher.name

- @publisher.books.each do |book|
  = partial 'books/book', :book => book
  
- throw_content :sidebar do
  = link_to 'Edit', url(:edit_publisher, @publisher)