#main-menu
  %ul
    %li= link_to 'Items', resource(:items)
    %li= link_to 'Authors', resource(:authors)
    %li= link_to 'Publishers', resource(:publishers)
    %li= link_to 'Locations', resource(:locations)