- title @location.name

%h2
  Items at
  = @location.name

- @location.items.each do |item|
  = partial 'items/item', :item => item

- throw_content :sidebar do
  = link_to 'Edit', url(:edit_location, @location)